

<section class="section">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="row center">
                <div class="col-sm-12" style="text-align: center;">
                    <div class="error-template center">
                        <img src="~/images/error-404.png" />
                        <h1 class="center">
                            Грешка!
                        </h1>
                        <h2>
                            404 Not Found
                        </h2>
                        <div class="error-details">
                            Заявената страница не е открита!
                        </div>
                        <div class="error-actions">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-lg downloadbtn m-md-top">
                                <span class="glyphicon glyphicon-home"></span>
                                Отиди на начална страница
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</section>
