@{
    ViewData["Title"] = "За нас";
}

<section class='section'>
    <div class='row'>
        <div class="col-sm-5"></div>
        <div class="col-sm-4">
            <h3>Свържете се с нас</h3>
        </div>
        <div class="col-sm-3"></div>

        <!--/APPLICATION ENDS HERE-->
        <!-- OPTION STARTS HERE-->
        <div class='container'>
            <div class="row">
                <div class="col-sm-11 shym-option-container m-md-top" style="text-align: justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales turpis at quam placerat auctor. In elit augue, ultricies a odio pulvinar, maximus tempor magna. Integer eget feugiat velit. Fusce sed eleifend diam. Nunc vel lectus ac nulla condimentum condimentum nec et lectus. Morbi porttitor vitae eros id interdum. Vestibulum hendrerit massa vitae congue porta. Sed neque enim, lobortis sit amet elementum in, laoreet ac tortor. Quisque aliquam iaculis dui in varius. Pellentesque gravida eros quis purus pellentesque egestas.

                    Sed malesuada nibh et nisl convallis gravida. Cras sagittis a sem placerat cursus. Mauris vestibulum pulvinar ipsum, in facilisis quam ultricies vitae. Vivamus et ipsum vel neque porta sodales non eu velit. Quisque a mauris ac lectus tristique bibendum sit amet ac arcu. In sagittis massa at odio tincidunt ornare. Maecenas lacinia metus eget sollicitudin placerat. In quis sagittis nisl. Mauris ut odio vitae arcu luctus gravida in in urna. Morbi non urna non eros condimentum accumsan imperdiet eu augue. Morbi sed nunc bibendum, pretium odio et, semper nibh. Ut efficitur turpis nec ipsum interdum ultrices.

                    Sed leo orci, luctus ac aliquam at, eleifend id libero. Ut lacus risus, dignissim at consectetur in, iaculis ut ipsum. Maecenas vel consectetur leo. Fusce finibus velit non quam tincidunt venenatis. Nam lorem turpis, fermentum in massa sit amet, pulvinar tempor felis. Vivamus gravida, libero ullamcorper scelerisque laoreet, leo leo suscipit arcu, non convallis velit ante non ante. Morbi leo sem, hendrerit a purus sed, porttitor condimentum elit. Phasellus nec rutrum lacus. Ut a nibh eu arcu malesuada tincidunt a ut enim.
                </div>
            </div>
            <!-- /COLUMNS -->
        </div>
    </div>
</section>
